// Place all the styles related to the Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.biz-index-header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #eeeeef;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    // background-color: red;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
}
.biz-header-link {
    text-decoration: none;
    // justify-content: center;
    // display: flex;
    // margin-top: 80px;
    // margin-bottom: -130px;
    font-size: 25px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: black;
    text-shadow: 3px 3px 0 #FFF, -3px 3px 0 #FFF, 3px -3px 0 #FFF, -3px -3px 0 #FFF;
}
.biz-header-link > h1 {
    margin-left: -50%;
    // margin-top: -15%;
}

.index-head {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.biz-h1 {
    font-size: 24px;
    padding-left: 12%;
}

.biz-div-box2 {
    display: flex;
}

.biz-form-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    // text-shadow: 1px 1px 0 grey;
    
}

.biz-find {
    display: flex;
    padding: 7px;
    box-shadow: none;
    border: none;
    background: #fff;
    margin: -5px;
    color: #666666;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: -3px 2px 7px 5px #f0f0f0;
}

.biz-header-logo {
    margin-left: -15px;
}

.biz-near {
    display: flex;
    padding: 7px;
    box-shadow: none;
    border: none;
    background: #fff;
    margin: -5px;
    color: #666666;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    box-shadow:  5px 0px 5px 6px #f0f0f0;
}

.biz-find-search {
    border-right: 1px solid black;
    // display: inline-block;
    // padding: 3px;
    box-shadow: none;
    border: none;
    border-radius: 4px;
    background: #fff;
    outline-width: 0;
    width: 330px;
    // box-shadow: 5px 10px 4px 2px  grey;
    display: flex;
    padding: 15px;
    box-shadow: none;
    margin: -5px;
    color: black;
    font-size: 16px;
    text-decoration: none;
    box-shadow:  -1px 1px 5px 6px #f0f0f0;  
}

.biz-near-div {
    display: flex;
    padding: 7px;
    box-shadow: none;
    border: none;
    background: #fff;
    margin: -5px;
    color: #666666;
    font-size: 16px;
}

.biz-near-search {
    // padding: 3px;
    box-shadow: none;
    border: none;
    background: #fff;
    outline-width: 0;
    width: 330px;
    display: flex;
    padding: 15px;
    margin: -5px;
    color: #666666;
    font-size: 16px;
    text-decoration: none;
    box-shadow:  5px 0px 5px 6px #f0f0f0;
}

.biz-near-search::placeholder {
    color: black;
}

.biz-but {
    background-color: rgb(244, 57, 57);
    cursor: pointer;
    color: white;
    // width: 40px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 0;
    margin: 0;
    text-align: center;
    padding: 17px;
    box-shadow:  5px 0px 5px 6px #f0f0f0;
}

.biz-but > a {
    text-decoration: none;
    color: white;
}

.biz-index-item {
    padding-top: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.biz-index-item:hover {
    box-shadow:  0px 1px 6px 3px #cbcbcd;
    cursor: pointer;
}

.biz-index-item-inner {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.biz-name {
    color: black;
    // padding-bottom: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.biz-name:hover {
    text-decoration: underline;
}

.biz-rating {
    margin-bottom: 5px;
    font-size: 18px;
    // margin-left: 5px;
    margin-top: 5px;
}

#biz-stars {
    background-color: #f43939;
    color: white;
    padding: 5px;
    border-radius: 3px;
    margin: 2px;
}

#biz-stars-unrev {
    background-color: rgb(207, 207, 207);
    color: white;
    padding: 5px;
    border-radius: 3px;
    margin: 2px;
}

.biz-description {
    width: 400px;
}

.biz-category {
    color: black;
    font-size: 16px;
    margin-top: 5px;
}

.biz-show-inner-map2 {
    border: 1px solid #ccc;
    width: 300px;
    height: 270px;
    border-radius: 4px;
    margin-right: 35px;
}

.biz-category-span {
    color:#666666;;
}

.biz-add-div {
    display: flex;
    flex-direction: column;
    // padding: 14px;
    margin-top: -2vh;
    padding-bottom: 50px;
}

.biz-show-map {
    width: 300px;
    height: 200px;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0px;
    background-color: #e5e3df;
    border-bottom: 1px solid #ccc;
}

.biz-show-item {
    overflow-y: scroll;
}

.biz-map-add-div {
    // display: flex;
    flex-direction: column;
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
}

.biz-map-address {
    margin-top: -5px;
    margin-left: 20px;
}

.biz-add-div > p {
    color: grey;
    font-size: 14px;
    width: 130px;
    text-align: center;
    margin-bottom: -10px;
}
// .biz-address {
//     margin-top: -15px;
// }
.biz-results {
    font-size: 16px;
    padding-left: 20px;
}

.biz-map {
    width: 500px;
    height: 500px;
    position: sticky;
    top: 125px;
}

.business-show-container-mid-hours > div {
    display: flex;
    justify-content: space-between;
    margin: -10px;
}

.map-container {
    width: 450px;
    height: 530px;
}

#week {
    font-weight: bold;
}

// .biz-img-map {
//     top: 25%;
//     right: 25%;
// }

.biz-box {
    top: 25%;
    right: 25%;
    border: 1px solid #e6e6e6;
}

.biz-img-pic {
    height: 190px;
    width: 190px;
    border-radius: 4px;
    margin-left: 15px;
    display: flex;
    padding-bottom: 15px;
}

.biz-show-photos{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 305px;
}

.biz-show-photos > img {
    display: flex;
    float: left;
    width: 24.80%;
    object-fit: cover;
}

.biz-show-info-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 1000px;
    height: fit-content;
    // padding-top: 50px;
    
}

.biz-show-side-info {
    display: block;
    width: 610px;
    height: 170px;
    display: flex;
    float: left;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.biz-show-side-info-details {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
    padding-top: -5px;
}

.biz-show-name {
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 5px;
    font-family:'Poppins', sans-serif;;
}
.biz-show-side-info {
    width: 320px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /* position: fixed; */
    border-radius: 4px;
    top: 134px;
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 400;
    size: 14px;
    color: #333333;
    vertical-align: middle;
    text-align: center;
    /* right: 187px; */
    top: 500px;
    left: 800px;
    margin-top: -205px;
}

.biz-show-info {
    width: 620px;
    height: 220px;
    display: block;
    border-bottom: 1px solid #a0a0a0;
}

.covid-19 {
    display: block;
    width: 560px;
    background: #d0ecfb;
    border-radius: 3px;
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 25px;
    margin-bottom: 25px;    
    border-left: 8px solid #0ab3c9;
}

.covid-19 {
    display: block;
    width: 560px;
    background: #d0ecfb;
    border-radius: 3px;
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 25px;
    margin-bottom: 25px;    
    border-left: 8px solid #0ab3c9;
}

.covid-19-p1 {
    font-weight: bold;
}

.covid-19-biz {
    color: #0097ec;
}


.biz-show-but {
    background-color: #f43939;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 0;
    margin: 0;
    text-align: center;
    padding: 13px;
    box-shadow: 3px 0px 3px 3px #f0f0f0;
}

.biz-show-inner-map {
    width: 500px;
}

.biz-show-location-hours {
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
    border-top: 1px solid #a0a0a0;
    width: 582px;
}

.biz-show-location-map {
    display: flex;
    width: 610px;
    height: fit-content;
}

.business-show-container-mid-hours {
    width: 180px;
    height: fit-content;
}

.biz-show-search-link {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

// .biz-show-img-map {
//     width: 300px;
//     height: 300px;
// }

.biz-show-rec-rev {
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    margin-right: auto;
    width: 630px;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;
    margin-left: 135px;
    font-weight: bold;
    font-size: 20px;
}

.rec-rev-p {
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.biz-show-rev-inner {
    background-image: url(https://s3-media0.fl.yelpcdn.com/assets/public/empty_profile@2x.yelp-react-component-review.yji-f52f768da99ad105f2d4ad4190f25c31.png);
    background-size: cover;
    width: 148px;
    height: 68px;
}

.biz-show-rev-outter {
    width: 630px;
    height: 150px;
    display: flex;
    margin-bottom: 5px;
    border-bottom: 1px solid gray;
    margin-left: 135px;
}

.biz-show-rev-start {
    width: 450px;
    text-align: center;
    height: 85px;
    line-height: 2;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding-top: 20px;
    background-color: #f4f4f4;
    margin-left: 40px;
}

// #temp-img {
//     padding-bottom: 20px;
// }

.img-outter > img{
    display: block;
    margin-left: 200px;
    margin-right: auto;
    padding-bottom: 30px;
}

.biz-rev-show {
        display: flex;
    justify-content: flex-start;
    padding-bottom: 15px;
    border-bottom: 1px solid #e6e6e6;
    // padding-top: 15px;
    flex-direction: column;
    margin-left: -63px;
}