// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rev-header {
    background-color:#d32323;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    padding-bottom: -5px;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    height: 100px;
}

.rev-header-link { 
    text-decoration: none;
    font-size: 25px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: black;
    text-shadow: 3px 3px 0 #FFF, -3px 3px 0 #FFF, 3px -3px 0 #FFF, -3px -3px 0 #FFF;
}

.form1 {
    text-align: center;
}

.rev-inner-box {
    border: 1px solid black;
    padding: 20px;
    margin-top: 50px;
}

.rev-form-rating-box {
    display: flex;
}

.review-outter-container {
    display: flex;
    margin-left: 27%;
    max-width: 960px;
    padding: 0 15px;
    padding-bottom: 30px;
}

.review-text-body {
    resize: none;
    border: none;
    outline-color: white;
    width: 500px;
    margin-top: 15px;
    font-size: 18px;
    min-height: 250px;
}

.rev-biz-name {
    float: left;
    text-decoration: none;
    font-weight: bold;
    color: #0073bb;
    font-size: 36px;
}

.review-index-box2 {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
    width: 630px;
}

.img-outter {
    margin-left: 200px
}

.review-list-item-right-side {
    text-align: center;
    // padding-left: 20px;
    width: 375px;
}

.review-list-item-left-side {
    padding-left: 10px;
    text-align: center;
    width: 150px;
}

.review-list-item-leftest-side {
    width: 35px;
}

.review-name-list {
    padding-bottom: 5px;
    color: #0073bb;
    font-weight: bold;
}

// .review-location-list {
//     font-size: 12px;
// }

// .amount-reviews-list {
//     font-size: 12px;
// }

#rev-stars {
    color: white;
    border: 1px solid #f15c00;
    background-color: #f15c00;
    padding: 1px;
    border-radius: 2px;
}

.review-rating-list {
    padding-bottom: 5px;
    font-weight: bold;
}

#rev-stars2 {
    background-color: #f43939;
    color: white;
    padding: 5px;
    border-radius: 3px;
    margin: 2px;
}

.review-body-list {
    padding-top: 10px;
}

.review-location-list {
    padding-bottom: 5px;
}

#rev-friends {
    color: #f15c00;
    padding-right: 5px;
}

#rev-friends > i {
    padding-right: 5px;
}

.review-friends-list {
    color: #666;
}

.amount-reviews-list {
    color: #666;
}

.rev-date {
    color: #666;
    font-size: 14px;
    display: flex;
    float: right;
    margin-top: -20px;
}
 
