.all-login-form {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 15%;
}

.login-form-container {
    float: left;
    display: flex;
    width: 405px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 375px;
}

.login-redirect {
    font-weight: 800;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: right;
    padding-top: 10px;
    color: black;
}

.login-redirect > a {
    color: rgb(0, 115, 187);
    text-decoration: none;
}

.login-redirect > a:hover {
    text-decoration: underline;
}

.session-header {
    // word-wrap: break-word !important;
    // word-break: break-word !important;
    // overflow-wrap: break-word !important;
    font-weight: bold;
    margin-bottom: 6px;
    // font-size: 21px;
    line-height: 1.28571em;
    color: #d32323;
    text-align: center;
}

.session-subhead {
    font-weight: bold;
}

.login-form-box {
    width: 100%;
    text-align: center;
    color: #252430;
    margin-bottom: 20px;
    display: flex;
    width: 605px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 120px;
}

.login-pic-outter-div {
    float: left;
    padding: 0 15px;
    min-height: 1px;    
    box-sizing: border-box;
    width: 50%;
}

.login-pic-div {
    margin-top: 117px;
    padding-bottom: 12px;
    text-align: center;
   
}

.login-pic {
    vertical-align: middle;
    position: absolute;
    right: 14%;
    top: 27%;
}

.session-submit {    
    width: 332px;
    height: 43px;
    margin-top: 10px;
    text-align: center;
    background-color: red;
    border: 1px solid red;
    cursor: pointer;
    border-radius: 3px;
    color: #FFFF;
    font-size: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bolder;
} 

.session-submit:hover {
    opacity: 0.5;
}

fieldset {
    margin: 0 30px;
    border: none;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid transparent;
    text-align: center;
    width: 320px;
    // background-color: blue;
}

.leg-or {
    padding: 0 15px;
    margin: 0 auto;
    color: #666666;
    // background-color: orange;
}

.login-input {
    // display: flex;
    // justify-content: space-around;
    // width: 300px;
    // padding: 15px 0;
    width: 320px;
    height: 43px;
    margin-top: 10px;
    // text-align: center;
    // background-color: #252430;
    border: 1px solid #999;
    cursor: pointer;
    border-radius: 3px;
    color: black;
    font-size: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
    // font-weight: bolder;
    /* background-color: ; */
    padding-left: 10px;
}

.demo-button {
    width: 332px;
    height: 43px;
    margin-top: 10px;
    text-align: center;
    background-color: red;
    border: 1px solid red;
    cursor: pointer;
    border-radius: 3px;
    color: #FFFF;
    font-size: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bolder;
}

.demo-button:hover {
    opacity: 0.5;
}
.login-forgot {
    // text-align: right !important;
    // margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    color: rgb(0, 115, 187);
    text-decoration: none;
}

.login-forgot:hover {
    text-decoration: underline;
}

.login-form {
    text-align: right;
}

.footer-cont {
    display: flex;
    background-color: #f5f5f5;
    width: 100%;
    align-items: center;
    flex-direction: row;
    font-size: 16px;
    border-top: 1px solid #ccc; 
}

.session-tos {
    text-align: center;
    font-size: 12px;
    line-height: 1.5em; 
    width: 60%;
    margin-bottom: -3%;
}

.session-tos > a {
    color: rgb(0, 115, 187);
    text-decoration: none;
}

.session-tos > a:hover {
    text-decoration: underline;
}

.header-link {
    display: block;
    // padding: 12px 0;
    background: #d32323;
    position: relative;
    z-index: 1012!important;
    border: 0;
    font-size: 100%;
    // font: inherit;  
    text-decoration: none;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    color: whitesmoke;
    /* font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; */
    text-align: center;
    font-size: 25px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: black;
    text-shadow: 3px 3px 0 #FFF, -3px 3px 0 #FFF, 3px -3px 0 #FFF, -3px -3px 0 #FFF;
    // margin: 0px 0px 0px 30px;
    padding-top: 1px;
    top: -17px;
}

.header-logo {
    margin-left: -15px;
}

.login-form-box > ul {
    list-style-type: none;
    text-align: center;
    margin-left: -25px;
    font-weight: bold;
}

.login-form-box > ul > li:hover {
    color: red;
}

// h1 {
//     color: whitesmoke;
//     /* font-family: Arial, Helvetica, sans-serif;
//     text-decoration: none;
//     font-family: Helvetica Neue,Helvetica,Arial,sans-serif; */
//     text-align: center;
//     font-size: 45px;
//     font-family: 'IBM Plex Sans', sans-serif;
//     color: black;
//     text-shadow: 3px 3px 0 #FFF, -3px 3px 0 #FFF, 3px -3px 0 #FFF, -3px -3px 0 #FFF;
//     margin: 0px 0px 0px 30px;
// }
 