.all-splash {
    background-image: url(https://s3-media0.fl.yelpcdn.com/assets/srv0/yelp_large_assets/e456d8b923f5/assets/img/home/hero_photos/DLIUyjgS7v50YRV2xfNquA.jpg);
    margin: 0;
    // width: 100%;
    height: 600px !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -30px;
    font-size: 14px;
}
.splash-header {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    font-weight: bold;
}

.splash-a {
    text-decoration: none;
    padding: 15px; 
}

.splash-a-h1 {
    text-decoration: none;
    // margin: 100px 0px 0px 30px !important;
    justify-content: center;
    display: flex;
    margin-top: 80px;
    margin-bottom: -130px;
    font-size: 25px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: black;
    text-shadow: 3px 3px 0 #FFF, -3px 3px 0 #FFF, 3px -3px 0 #FFF, -3px -3px 0 #FFF;
}

.splash-a:hover {
    border-bottom: 2px solid white;
}

.splash-r-l:hover {
    border-bottom: 2px solid white;
}

.splash-r-l {
    text-decoration: none;
    padding: 20px;
}

.splash-signup {
    text-decoration: none;
    padding: 20px;
    padding: 7px 20px;
    border: 2px solid white;
    border-radius: 4px;
    background: transparent;
}

.splash-signup:hover {
    transition: 0.5s;
    background-color: white;
    color: grey;
}

.splash-signout {
    text-decoration: none;
    padding: 20px;
    padding: 7px 20px;
    border: 2px solid white;
    border-radius: 4px;
    background: transparent;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.splash-signout:hover {
    transition: 0.5s;
    background-color: white;
    color: grey;
}

.splash-left-links{
    margin-right: 250px;
    margin-top: 20px;
}
.splash-left-links > a {
    // display: flex;
    // border-radius: 0;
    // border-bottom: 2px solid transparent;
    // padding-bottom: 8px;
    // justify-content: space-between;
    text-decoration: none;
    color: white;
    // font-weight: bold;
    
}
.splash-right-links {
     margin-top: 20px;
}
.splash-right-links > a{
    text-decoration: none;
    color: white;
}

.splash-form {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    margin-top: 100px;
}

.splash-label {
    background-color: white;
    
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 12px 120px 12px 15px;
    // padding: 12px 20px 12px 10px;
}

.splash-label-2 {
    background-color: white;
    // border-left: 1px solid #666666;
    padding: 12px 120px 12px 15px;
}

.splash-span {
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #666666;
    font-weight: bolder;
}

.splash-span-2 {
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #666666;
    font-weight: bolder;
    border-left: 1px solid rgb(176, 176, 176);
    padding-left: 10px;
}

.splash-input {
    border: none;
    border-color: transparent;
    width: 230px;
    color: black;
    font-size: 18px;
    outline: none;
}

.splash-input-2 {
    border: none;
    border-color: transparent;
    width: 230px;
    color: black;
    font-size: 18px;
    outline: none;
}
.splash-input-2::placeholder {
    color: black;
}

.splash-but {
    background-color: #D32323;
    cursor: pointer;
    color: white;
    // width: 40px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 0;
    margin: 0;
    text-align: center;
}

.splash-but > a {
    color: white;
    text-decoration: none;
}
.splash-sub-links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

.splash-sub-a:hover {
    text-decoration: underline;
}
.splash-sub-links > a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    // margin-left: 15px;
    font-weight: bold;
    padding: 0 20px;
    padding-top: 10px;
}

.splash-suggestions {
    display: flex;
    // min-width: 1000px;
    padding: 0 6%;
    margin-bottom: 70px;
    flex-direction: column;
}

.suggestion-title{
    color: #D32323;
    text-align: center;
    margin-top: 36px;
}

.splash-cat-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
}

.category{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 218px;
    font-size: 14px;
    padding: 15px;
}

.category img{
    height: 174px;
    width: 218px;
    border-top-left-radius: 15px;    
    border-top-right-radius: 15px;
}

.category div{
    box-sizing: border-box;
    bottom: -37px;
    width: 218px;
    height: 42px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #e6e6e6;
    border-top-color: transparent;
}

.category p{
    font-weight: bold;
}

.category:hover{
    // box-shadow: 1px 4px 4px rgb(208, 203, 203);
    color: #0073bb;
    // border-radius: 3px;
    cursor: pointer;
}

.splash-img-cred {
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 180px;
}

.cred-links {
    display: flex;
    flex-direction: column;
}

.cred-des {
    margin-top: -23px;
    align-self: center;
    margin-bottom: -23px;
}

.photo-des {
    font-weight: 700;
    color: white;
    align-self: center;
    text-decoration: none;
    text-align: center;
}

// .photo-by:hover {
//     border-bottom: 2px solid white;
// }

.cred {
    display: flex;
    justify-content: center;
    align-self: center;
}

.photo-by {
    text-decoration: none;
    color: white;
}

.cred-name {
    margin-left: 5px;
}

.cred-name:hover {
    border-bottom: 2px solid white;
}

.cred-text-1:hover {
    border-bottom: 2px solid white;
}